.main{
	padding: 10px 25px;
}
.list{
	margin-top: 15px;
}
.message{
	border-bottom: 1px solid #979797;
	padding-bottom: 14px;
}
.message .avatar{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin-right: 20px;
}
.message .info{
	width: calc(100% - 70px);
}
.info .c-name{
	font-size: 12px;
	color: #000;
	margin-bottom: 0;
}
.info .content{
	font-size: 14px;
	color: #999;
	margin-bottom: 0;
}
.message ~ .message{
	margin-top: 30px;
}
.message:last-child{
	border-bottom: none;
}