<div class="documents">
    <div class="banner">
        <weui-swiper [options]="{ effect: 'fade', spaceBetween: 30, autoplay: 2000 }">
            <div class="swiper-container">
                <!-- 容器（必选） -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let i of images">
                        <img [src]="staticPath + i.bannerImg" style="width: 100%;height: 100%;" />
                    </div>
                </div>
                <!-- 分页（可选） -->
                <div class="swiper-pagination"></div>
            </div>
        </weui-swiper>
    </div>
    <div class="navbar clearfix">
        <div *ngFor="let tag of tags; let i = index" class="nav" [ngClass]="{'active': i === selected}" (click)="changeTag(i)">{{tag.tagName}}</div>
    </div>
    <div class="content clearfix">
        <div class="item" *ngFor="let channel of channels" (click)="toSection(channel.id)">
            <img [src]="staticPath + channel.sectionImg" alt="">
            <div class="front">
                {{channel.sectionName}}
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab" style="z-index: 999">
        <a class="mui-tab-item active" [routerLink]="['/app/documents']">
            <i class="iconfont icon-shouye"></i>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" [routerLink]="['/app/message']">
            <i class="iconfont icon-xiaoxin"></i>
            <span class="mui-tab-label">消息</span>
        </a>
        <a class="mui-tab-item" [routerLink]="['/app/mine']">
            <i class="iconfont icon-woden"></i>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>
</div>