<div *ngIf="!pdfSrc">
  <weui-loadmore [type]="'loading'"></weui-loadmore>
</div>
<ngx-extended-pdf-viewer
  (pageRendered)="handleWaterMark($event)"
  (pdfLoaded)="handleWaterMark($event)"
  (pagesLoaded)="handleWaterMark($event)"
  *ngIf="pdfSrc"
  [base64Src]="pdfSrc"
  [enablePrint]="false"
  [height]="'100vh'"
  [mobileFriendlyZoom]="'100%'"
  [mobileZoom]="'100%'"
  [showBookmarkButton]="false"
  [showBorders]="false"
  [spread]="'off'"
  [showDownloadButton]="false"
  [showOpenFileButton]="false"
  [showSecondaryToolbarButton]="false"
  [showSidebarButton]="false"
  [showSidebarOnLoad]="false"
  [showZoomButtons]="true"
  [textLayer]="false"
  [useBrowserLocale]="true"
  [zoom]="'auto'"
  backgroundColor="#ffffff"
>
</ngx-extended-pdf-viewer>

<div class="doc-content" style="margin: 20px 16px;text-align: left;position: relative;">
  <hr>
  <div style="text-align: right;position: absolute;padding: 10px 16px 0 16px; display: inline-block;left: 0;">
    <i class="material-icons" style="font-size: 18px; position: absolute;left: 20px;top: 10px;"
       [ngStyle]="{'color':isLike?'#00893d':''}" (click)="handleLike()">thumb_up</i>
    <span style="position: absolute; left: 30px;width: 50px;"
          [ngStyle]="{'color':isLike?'#00893d':''}" (click)="handleLike()">Like {{likes ? likes : 0}}</span>
  </div>
  <div style="position: absolute;padding: 10px 16px 0 16px; display: inline-block;left: 100px">
    <i class="material-icons" style="font-size: 18px; position: absolute;left: 20px;top: 10px;">remove_red_eye</i>
    <span style="position: absolute; left: 44px;">{{clicks ? clicks : 0}}</span>
  </div>

  <div style="position: absolute;padding: 10px 16px 0 16px; display: inline-block;right: 0;">
    <span (click)="simplePopup.show()" style="padding: 0 10px;">写评论</span>
  </div>
  <div style="padding: 20px 20px;margin-top: 30px;">
    <div *ngFor="let comment of comments;let i = index" class="comment-detail">
      <p>
        {{comment.totalName}}:
        <span class="comment-status" *ngIf="comment.status==='PENDING'">(审核中)</span>
        <span class="comment-delete" *ngIf="comment.personalNumber===userInfo.userid"
              (click)="onConfirmDelDialog(comment)">删除</span>
      </p>
      <span>{{comment.text}}</span>
    </div>

  </div>
</div>
<!--将Popup组件放在底部-->
<weui-popup #comment (confirm)="handleCommentConfirm()">
  <div class="weui-cells weui-cells_form comment-box">
    <div class="weui-cell">
      <div class="weui-cell__bd">
          <textarea class="weui-textarea" rows="5" [(ngModel)]="tmpCommentText" name="tmpCommentText"
                    weui-textarea weui-cn="1" maxlength="50"></textarea>
      </div>
    </div>
  </div>
</weui-popup>
<weui-dialog #auto [config]="config"></weui-dialog>
