::ng-deep .weui-dialog__btn_primary {
  color: #00893d;
}

::ng-deep .weui-dialog__btn_default {
  color: #AA0A05;
}

::ng-deep .weui-dialog__bd {
  p {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
  }

}

::ng-deep .weui-cell__bd {
  .weui-textarea {
    height: 130px;
    font-size: 14px;
  }
}


//::ng-deep .course-detail-dialog {
//  .weui-dialog__btn_default {
//    color: #00893d;
//  }
//
//  .weui-dialog__btn_primary {
//    color: #aa0a05;
//  }
//}
