.post-c {
    background-color: #fff;

    padding: 20px;

    .title::-webkit-input-placeholder{
        fontsize: 25px;
    }

    .ope button {
        border: none;
        color: #fff;
        float: right;
    }

    .ope .draft {
        background-color: #646464;
    }

    .ope .post {
        background-color: #00893D;
        margin-left: 20px;
    }

    .ope .cancel {
        color: #646464;
        line-height: 31px;
    }

    .title {
        border: none;
        border-bottom: 1px solid #979797;
        font-size: 26px;
        padding-left: 0;
    }

    .content::-webkit-input-placeholder{
        font-size: 16px;
    }

    .content {
        border: none;
        min-height: 300px;
        padding: 0 5px;
    }

    .mint-checkbox-core {
        border-radius: initial !important;
    }

    .s-b .iconfont {
        float: left;
        line-height: 56px;
        font-size: 20px;
    }

    .s-b .iconfont~.iconfont {
        margin-left: 20px;
    }

    .mint-checkbox-input:checked+.mint-checkbox-core {
        background-color: #07A35A;
        border-color: #07A35A;
    }

    .weui-cells {
        line-height: inherit;
        background-color: transparent;
        margin-top: 0;
        float: right;
    }

    .weui-cells:before,
    .weui-cells:after {
        content: none;
    }

    .weui-cell__bd p {
        margin-bottom: 0;
    }

    .weui-check__label:active {
        background-color: transparent;
    }

    .cover{
        background-color: #00893D;
        border: none;
        color: #fff;
        margin-top: 10px;
        font-size: 12px;
    }

    .mask{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.2);
        z-index: 99;
        display: none;

        &.show{
            display: block;
        }
    }
    .choose-wrap{
        display: none;
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 100;
        border-radius: 15px;

        &.show{
            display: block;
        }

        .title{
            text-align: center;
            border: none;
            font-size: 16px;
            padding: 10px 0;
        }

        .weui-search-bar{
            background-color: transparent;
        }

        .weui-search-bar__label{
            background-color: #ccc;
        }

        .weui-search-bar__box .weui-search-bar__input{
            margin-bottom: 0;
        }

        .weui-search-bar__form{
            background-color: #ccc;
        }

        .weui-search-bar__box .weui-icon-clear{
            margin-top: -8px;
        }

        .list{

            .user{
                padding-left: 20px;
                line-height: 36px;
                border-bottom: 1px solid #eee;
                font-size: 16px;
            }
        }
    }

    .at-name{
        margin-top: 10px;
        font-style: italic;
    }
}