[v-cloak]{
	display: none;
}
.mui-bar-tab .mui-tab-item{
	color: #9CA2A5;
    /*vertical-align: bottom;*/
}
.mui-tab-item.active{
	color: #00893D;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}
.mui-bar-tab{
    height: 60px;
}
.mui-tab-item .iconfont{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
.mui-bar-tab .mui-tab-item.mui-active{
    color: #00893D;
}