<div class="mine">
    <div class="head clearfix">
        <img src="assets/images/avatar.jpg" alt="" class="avatar fl">
        <div class="fl">
            <p class="name">Hu Luqian</p>
            <p class="sign">这个人很懒，什么都没写</p>
        </div>
    </div>
    <div class="section">
        <div class="title">我的</div>
        <div class="wrap">
            <div class="item" (click)="toArticle(1)">
                <i class="iconfont icon-wodeguanzhu"></i>
                <p>我的关注</p>
            </div>
            <div class="item" (click)="toArticle(2)">
                <i class="iconfont icon-wodefabu"></i>
                <p>我的发布</p>
            </div>
            <div class="item" (click)="toArticle(3)">
                <i class="iconfont icon-wodepinglun"></i>
                <p>我的评论</p>
            </div>
            <div class="item" (click)="toArticle(4)">
                <i class="iconfont icon-wodedianzan"></i>
                <p>我的点赞</p>
            </div>
            <div class="item" (click)="toArticle(5)">
                <i class="iconfont icon-wodezhuanfa"></i>
                <p>我的转发</p>
            </div>
            <div class="item" (click)="toArticle(6)">
                <i class="iconfont icon-wodeshoucang"></i>
                <p>我的收藏</p>
            </div>
            <div class="item" (click)="toArticle(7)">
                <i class="iconfont icon-liulan"></i>
                <p>最近浏览</p>
            </div>
            <div class="item">
                <i class="iconfont icon-guanlimokuai"></i>
                <p>管理模块</p>
            </div>
        </div>
    </div>
    <div class="section" style="margin-bottom: 60px;">
        <div class="title">关于我的</div>
        <div class="wrap">
            <div class="item">
                <i class="iconfont icon-at"></i>
                <p>关联我的</p>
            </div>
            <div class="item">
                <i class="iconfont icon-pinglunwode"></i>
                <p>评论我的</p>
            </div>
            <div class="item">
                <i class="iconfont icon-dianzanwode"></i>
                <p>点赞我的</p>
            </div>
            <div class="item">
                <i class="iconfont icon-zhuanfawode"></i>
                <p>转发我的</p>
            </div>
            <div class="item">
                <i class="iconfont icon-shoucangwode"></i>
                <p>收藏我的</p>
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab" style="z-index: 999">
        <a class="mui-tab-item " [routerLink]="['/app/documents']">
            <i class="iconfont icon-shouye"></i>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" [routerLink]="['/app/message']">
            <i class="iconfont icon-xiaoxin"></i>
            <span class="mui-tab-label">消息</span>
        </a>
        <a class="mui-tab-item active" [routerLink]="['/app/mine']">
            <i class="iconfont icon-woden"></i>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>
</div>