.top {
    background-color: #fff;
    padding: 10px 20px 0;
}

.mui-search input[type=search] {
    border-radius: 25px;
}

.navbar {
    background-color: #fff;
    height: 40px;
}

.navbar .nav {
    float: left;
    color: #333;
    font-size: 16px;
    line-height: 40px;
    padding: 0 8px;
}

.navbar .nav~.nav {
    margin-left: 30px;
}

.nav.active {
    color: #00893D;
    border-bottom: 2px solid #00893D;
}

.main {
    padding: 0 10px;
}

.post {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px 15px;
}

.post .title {
    font-size: 15px;
    margin-bottom: 8px;
}

.post .avator {
	width: 30px;
	height: 30px;
	border-radius: 16px;
}

.post .author {
	line-height: 30px;
	margin-left: 10px;
	font-size: 16px;
	color: #2C0000;
}

.post .con {
	margin-top: 8px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    font-size: 16px;
    color: #2C0000;
}

.post .info span {
	color: #636363;
	font-size: 12px;
}
.post .info span ~ span{
	margin-left: 20px;
}
.block{
	background-color: #fff;
	text-align: center;
	border-radius: 6px;
	margin: 10px;
	padding: 40px 0 20px;
}
.block .iconfont{
	color: #00893D;
	font-size: 50px;
}

.block .text{
	color: #00893D;
	font-size: 18px;
	margin-top: 10px;
}