::ng-deep .watermark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  overflow: hidden;

  p {
    width: 200%;
    color: rgba(209, 209, 209, 0.2);
    //color: red;
    text-align: left;
    font-size: 0.8rem;
    overflow: hidden;
    margin: 40px 0;
    padding: 0;
    transform: rotate(6deg);
  }
}

::ng-deep #viewerContainer {
  z-index: 10;
  top: 0 !important;
}

::ng-deep .toolbar {
  display: none !important;
}

app-doc-detail {
  .comment-box::before {
    border: 0 !important;
  }

  .comment-detail {
    padding: 5px 10px;
    text-align: left;

    p {
      margin: 0;
      font-size: 0.8rem;
      opacity: 0.6;
      position: relative;

      .comment-status {
        font-size: 0.8rem;
        color: #666a6c;
      }

      .comment-delete {
        position: absolute;
        color: #aa0a05;
        right: 0;
      }
    }
  }

  .doc-content {
    padding: 16px;
    max-width: 100% !important;;
    overflow: hidden !important;

    hr {
      border-color: rgba(255, 255, 255, .4) !important;
      margin-bottom: 10px;
    }

    //h1, h2, h3, h4, h5, h6,
    //hr, u, li, header, pre,
    //div, p, span, i, img, section {
    //  max-width: 100% !important;
    //  height: auto;
    //}
  }
}
