<weui-searchbar (search)="onSearch($event)" (cancel)="onCancel()" (clear)="onClear()" (submit)="onSubmit($event)">
</weui-searchbar>

<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
  <!--  <div class="weui-cells__title">List with 50 Max</div>-->
  <div class="weui-cells">
    <a *ngFor="let item of items" class="weui-cell weui-cell_access" (click)="onCourseDetail(item)">
      <div class="weui-cell__bd">{{ item.titleEn }}</div>
      <div class="weui-cell__ft" style="font-size: 10px;"></div>
<!--      <div class="weui-cell__ft" style="font-size: 10px;">{{ item.lecturer }}</div>-->
      <!--      <div class="weui-cell__ft"></div>-->
    </a>
  </div>
</weui-infiniteloader>
