<app-page [ftBottom]="showFooter()">
  <div style="padding: 15px 0;">

    <div *ngIf="userInfo" class="user-info">
      <span>{{userInfo.name}}（{{userInfo.userid}}）</span>
      <weui-button (click)="onChangeLanguage(lang==='en'?'zh-CN':'en')" class="lang-btn"
                   weui-mini weui-type="primary">
        {{lang === 'en' ? '中文' : 'EN'}}
      </weui-button>
<!--      <div class="chat-image">-->
<!--        <img (click)="onHRConsulting()" src="./assets/images/chat.png">-->
<!--      </div>-->
      <div class="feedback">
        <i (click)="fullPopup.show()" class="material-icons" style="color: #888888;font-size: 16px">chat_bubble</i>
      </div>
    </div>

    <div class="weui-cells__title" style="padding: 0;">
      {{'RECENT'|translate}}
      <span (click)="onDocuments()" style="float: right;">
        {{'MORE'|translate}}&nbsp;>
      </span>
    </div>
    <div class="weui-cells" style="margin-top: 10px;">
      <div (click)="onPDFDetail(doc)" *ngFor="let doc of recentDocuments" class="weui-cell">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
          <i *ngIf="doc.currentType===1" class="material-icons pdf">picture_as_pdf</i>
          <i *ngIf="doc.currentType===2" class="material-icons pdf">library_books</i>
        </div>
        <div class="weui-cell__bd" style=" white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
          <p [ngStyle]="{'color':doc.highlight===1?'#aa0a05':''}" class="title">
            {{lang === 'en' ? doc.fileNameEn : doc.fileNameCn}}
          </p>
          <p class="desc">
            {{doc.publisher}}
          </p>
          <p class="desc">
            {{doc.updateTime}}
          </p>
        </div>
        <div class="weui-cell__ft">
          <i *ngIf="doc.highlight===1" class="material-icons hot">whatshot</i>
        </div>
      </div>
    </div>
    <div class="weui-cells__title" style="padding: 0;">
      {{'CATEGORY'|translate}}
    </div>
    <div class="weui-grids" style="margin-top: 10px">
      <div (click)="onDocuments(category)" *ngFor="let category of documentsCategory" class="weui-grid"
           style="background: white; width: 50%">
        <div class="weui-grid__icon" style="margin-bottom: 10px;height: 40px;width: 40px;">
          <img [alt]="lang === 'en' ? category.enName : category.name" [src]="staticPath+category.icon"
               style="height: 40px;width: 40px;"/>
        </div>
        <p class="weui-grid__label" style="margin:0;">
          {{lang === 'en' ? category.enName : category.name}}
        </p>
      </div>
    </div>
  </div>

  <weui-actionsheet #ios [config]="lang==='en'?configEn:config" [menus]="menus"></weui-actionsheet>

  <weui-popup #full [config]="{ is_full: true }">
    <div class="feedback-dialog">
      <div class="weui-cells__title">{{'FEEDBACK.CONTENT'|translate}}</div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd">
          <textarea
            [(ngModel)]="feedbackContent"
            [placeholder]="lang==='en'?feedbackPlaceholderEN:feedbackPlaceholderCN"
            class="weui-textarea"
            maxlength="400"
            name="feedbackContent"
            rows="7"
            weui-cn="1"
            weui-textarea
          ></textarea>
          </div>
        </div>
      </div>
      <div class="weui-cells">
        <div class="weui-cell">
          <button (click)="onCloseFeedbackDialog()" class="weui-btn">
            {{'FEEDBACK.CANCEL'|translate}}
          </button>
          <button (click)="onSubmitFeedback()" class="weui-btn weui-btn_primary" style="margin-top: 0;">
            {{'FEEDBACK.SUBMIT'|translate}}
          </button>
        </div>
      </div>
    </div>
  </weui-popup>

</app-page>
